# The Battle Of Neighborhoods- Part 1

## Data Section

##### The data that would be used to solve this problem is the - Costs, Distance, Locations, Supply (Capacity of OEM)

The cost would be sub-divided into 3 categories- Loading cost, Transportation Cost and Unloading costs.
The location will be sub-divided into 2 categories- Latitude and Longitude.

##### There are 5 distribution centers that Christos has thought of opening. These Distribution Centers are named below with their specified locations:
 1. DC1 - Pune
 2. DC2 - Hyderabad
 3. DC3 - Jammu
 4. DC4 - Kerela
 5. DC5 - Sikkim

##### The transportation costs between each production and destination facility are as follows:
We need to help Christos to minimize his transportation costs.

<font size="1">
<table font-size:xx-small style="width:25%">
  <tr>
    <th>Production facility</th>
    <th>Destination facility</th> 
    <th>Shipping costs(Dollars/container)</th>
  </tr> 
  <tr>
    <td>Delhi</td>
    <td>Pune</td> 
    <td>1.04</td>  
  </tr>    
    <tr>
    <td>Delhi</td>
    <td>Hyderabad</td> 
    <td>1.27</td>  
  </tr>    
    <tr>
    <td>Delhi</td>
    <td>Jammu</td> 
    <td>0.9</td>  
  </tr>  
    <tr>
    <td>Delhi</td>
    <td>Kerela</td> 
    <td>1.92</td>  
  </tr> 
    <tr>
    <td>Delhi</td>
    <td>Sikkim</td> 
    <td>1.55</td>  
  </tr>  
</table>

##### Additionally, Supplier's demand for all cities are as follows:

<font size="1">
<table font-size:xx-small style="width:25%">
    
  <tr>
    <th>Destination facility</th> 
    <th>Demand(Containers/week)</th>
  </tr>
    
  <tr>
    <td>Pune</td>
    <td>11,000</td>     
  </tr>
    <tr>
    <td>Hyderabad</td>
    <td>32,000</td>     
  </tr>
    <tr>
    <td>Jammu</td>
    <td>20,500</td>     
  </tr>
    <tr>
    <td>Kerela</td>
    <td>10,000</td>     
  </tr>
    <tr>
    <td>Sikkim</td>
    <td>45,000</td>     
  </tr>
</table>

You can see the dataset here:

<font size="1">
<table font-size:xx-small style="width:25%">
  <tr>
    <th></th>
    <th>Latitude(Degrees)</th> 
    <th>Longitutde(Degrees)</th>
    <th>City</th>
    <th>#Supply</th> 
    <th>Distance(kms)</th>
    <th>Loading Cost(Dollars)</th>
    <th>Transportation Cost(Dollars)</th>
    <th>Unloading Cost(Dollars)</th>
  </tr>
  <tr>
    <td>DC1</td>
    <td>73.8567° E</td> 
    <td>18.5204° N</td>
    <td>Pune</td>
    <td>23,000</td>
    <td>1477.6</td>
    <td>120</td>
    <td>1230</td>
    <td>100</td>
  </tr>
    <tr>
    <td>DC2</td>
    <td>78.4867° E</td> 
    <td>17.3850° N</td>
    <td>Hyderabad</td>
    <td>4,000</td>
    <td>1585.7</td>
    <td>80</td>
    <td>890</td>
    <td>300</td>
  </tr>
    <tr>
    <td>DC3</td>
    <td>74.8570° E</td> 
    <td>32.7266° N</td>
    <td>Jammu</td>
    <td>15,000</td>
    <td>589.1</td>
    <td>20</td>
    <td>889</td>
    <td>40</td>
  </tr>
    <tr>
    <td>DC4</td>
    <td>76.2711° E</td> 
    <td>10.8505° N</td>
    <td>Kerela</td>
    <td>800</td>
    <td>2645.5</td>
    <td>400</td>
    <td>9200</td>
    <td>500</td>
  </tr>
    <tr>
    <td>DC5</td>
    <td>88.5122° E</td> 
    <td>27.5330° N</td>
    <td>Sikkim</td>
    <td>90,00</td>
    <td>1601.3</td>
    <td>360</td>
    <td>4200</td>
    <td>650</td>
  </tr>
    </table>