# The Battle Of Neighborhoods- Part 2

## Introduction

##### Christos's Shoemaker is a popular shoe-making manufacturer in India. To expand their business, they need to launch their distribution centers all across different locations in India.

## Detailed Problem Statement

The manufacturing plant (Original Equipment Manufacturer-OEM) tradeswith Tier 1 Suppliers, who in turn trade with Tier 2 Suppliers and Tier-3 Suppliers.

In this project, following are the Tier 1, Tier 2 and Tier 3 Supplier:
     1. Tier 1 Supplier - X
     2. Tier 2 Supplier - Y
     3. Tier 3 Supplier - Z

The Tier-1 suppliers are in direct contact with the OEM and they propose the "Demand" parameter to the OEM. For the manufacturing of the shoes, two important costs are involved - "Fixed Cost" and "Variable Cost" [which depends on the quantity of the product]. 

Also, there is a "Capacity Constraint" involved in the OEM.

Now Christos wants to open the Distribution Centers at various locations in India, so that he can supply his products to the shopping centers in nearby areas. To open a Distribution Center(like a factory), various costs are involved in it. According to the problem, following are the few parameters that needs to be calculated:

*1. Distance -* 
It is the distance between the OEM(manufacturing plant in Delhi) and the desirable Distribution Center(which needs to be opened) [calculated in kilometers]

*2. Costs -* 
It involve 3 different costs: 
                         2.1 Cost of loading into the truck from OEM ; 
                         2.2 Transportation Cost 
                         2.3 Cost of unloading from truck to Distribution Center

*3. Supply -* 
It is the amount or quantity supplied to the Distribution Centers. [calculated in quantitative numbers]

## Data Section

##### The data that would be used to solve this problem is the - Costs, Distance, Locations, Supply (Capacity of OEM)

The cost would be sub-divided into 3 categories- Loading cost, Transportation Cost and Unloading costs.
The location will be sub-divided into 2 categories- Latitude and Longitude.

##### There are 5 distribution centers that Christos has thought of opening. These Distribution Centers are named below with their specified locations:
 1. DC1 - Pune
 2. DC2 - Hyderabad
 3. DC3 - Jammu
 4. DC4 - Kerela
 5. DC5 - Sikkim

##### The transportation costs between each production and destination facility are as follows:
We need to help Christos to minimize his transportation costs.

<font size="1">
<table font-size:xx-small style="width:25%">
  <tr>
    <th>Production facility</th>
    <th>Destination facility</th> 
    <th>Shipping costs(Dollars/container)</th>
  </tr> 
  <tr>
    <td>Delhi</td>
    <td>Pune</td> 
    <td>1.04</td>  
  </tr>    
    <tr>
    <td>Delhi</td>
    <td>Hyderabad</td> 
    <td>1.27</td>  
  </tr>    
    <tr>
    <td>Delhi</td>
    <td>Jammu</td> 
    <td>0.9</td>  
  </tr>  
    <tr>
    <td>Delhi</td>
    <td>Kerela</td> 
    <td>1.92</td>  
  </tr> 
    <tr>
    <td>Delhi</td>
    <td>Sikkim</td> 
    <td>1.55</td>  
  </tr>  
</table>

##### Additionally, Supplier's demand for all cities are as follows:

<font size="1">
<table font-size:xx-small style="width:25%">
    
  <tr>
    <th>Destination facility</th> 
    <th>Demand(Containers/week)</th>
  </tr>
    
  <tr>
    <td>Pune</td>
    <td>11,000</td>     
  </tr>
    <tr>
    <td>Hyderabad</td>
    <td>32,000</td>     
  </tr>
    <tr>
    <td>Jammu</td>
    <td>20,500</td>     
  </tr>
    <tr>
    <td>Kerela</td>
    <td>10,000</td>     
  </tr>
    <tr>
    <td>Sikkim</td>
    <td>45,000</td>     
  </tr>
</table>

You can see the dataset here:

<font size="1">
<table font-size:xx-small style="width:25%">
  <tr>
    <th></th>
    <th>Latitude(Degrees)</th> 
    <th>Longitutde(Degrees)</th>
    <th>City</th>
    <th>#Supply</th> 
    <th>Distance(kms)</th>
    <th>Loading Cost(Dollars)</th>
    <th>Transportation Cost(Dollars)</th>
    <th>Unloading Cost(Dollars)</th>
  </tr>
  <tr>
    <td>DC1</td>
    <td>73.8567° E</td> 
    <td>18.5204° N</td>
    <td>Pune</td>
    <td>23,000</td>
    <td>1477.6</td>
    <td>120</td>
    <td>1230</td>
    <td>100</td>
  </tr>
    <tr>
    <td>DC2</td>
    <td>78.4867° E</td> 
    <td>17.3850° N</td>
    <td>Hyderabad</td>
    <td>4,000</td>
    <td>1585.7</td>
    <td>80</td>
    <td>890</td>
    <td>300</td>
  </tr>
    <tr>
    <td>DC3</td>
    <td>74.8570° E</td> 
    <td>32.7266° N</td>
    <td>Jammu</td>
    <td>15,000</td>
    <td>589.1</td>
    <td>20</td>
    <td>889</td>
    <td>40</td>
  </tr>
    <tr>
    <td>DC4</td>
    <td>76.2711° E</td> 
    <td>10.8505° N</td>
    <td>Kerela</td>
    <td>800</td>
    <td>2645.5</td>
    <td>400</td>
    <td>9200</td>
    <td>500</td>
  </tr>
    <tr>
    <td>DC5</td>
    <td>88.5122° E</td> 
    <td>27.5330° N</td>
    <td>Sikkim</td>
    <td>90,00</td>
    <td>1601.3</td>
    <td>360</td>
    <td>4200</td>
    <td>650</td>
  </tr>
    </table>

Now we have seen all the locations where Christos is thinking of setting up his Distribution Centers in India, with Demand & Supply for each location.

We now see the List of shopping malls all over India, so that we can estimate that Christos's decision of opening all DCs at various location is correct or not.

In [18]:
import numpy as np  
import pandas as pd 
from bs4 import BeautifulSoup

import requests

url='https://en.wikipedia.org/wiki/List_of_shopping_malls_in_India'
df = pd.read_html(url, header=0, flavor = 'bs4')
df1=df[0]
df1

,Name,Location,Year,Size (gross leasable area),Source
0,LuLu International Shopping Mall,Kochi,2013,"2,500,000 sq ft (230,000 m2)",[1][2][3][4]
1,"World Trade Park, Jaipur",Jaipur,2012,"2,400,000 sq ft (220,000 m2)",[5]
2,DLF Mall of India,Noida,2016,"2,000,000 sq ft (190,000 m2)",[6]
3,Phoenix Marketcity (Bangalore),Bangalore,2010,"1,400,000 sq ft (130,000 m2)",[7]
4,Elante Mall,Chandigarh,2013,"1,150,000 sq ft (107,000 m2)",[8]
5,Esplanade One,Bhubaneswar,2018,"1,000,000 sq ft (93,000 m2)",[9]
6,Phoenix Marketcity (Chennai),Chennai,2013,"1,000,000 sq ft (93,000 m2)",[10]
7,Viviana Mall,Thane,2013,"1,000,000 sq ft (93,000 m2)",[11]
8,Fun Republic,Lucknow,2007,"970,000 sq ft (90,000 m2)",[12]
9,Mantri Square,Bangalore,2010,"924,000 sq ft (85,800 m2)",[13]
10,Express Avenue,Chennai,2010,"900,000 sq ft (84,000 m2)",NaN
11,Orion Mall,Bangalore,2012,"850,000 sq ft (79,000 m2)",[14]
12,The Great India Place,Noida,NaN,"850,000 sq ft (79,000 m2)",[1]
13,Infiniti Mall,Mumbai,2011,"850,000 sq ft (79,000 m2)",NaN
14,DB City Mall,Bhopal,2010,"800,000 sq ft (74,000 m2)",[15]
15,Hilite Mall,Kozhikode,2014,"750,000 sq ft (70,000 m2)",[16]
16,Ahmedabad One,Ahmedabad,2011,"706,000 sq ft (65,600 m2)",[17]
17,Mall of Travancore,Trivandrum,2018,"700,000 sq ft (65,000 m2)",[18]
18,Forum Fiza Mall,Mangalore,2014,"686,892 sq ft (63,814.4 m2)",[19]
19,Prozone Mall,Aurangabad,2010,"680,189 sq ft (63,191.6 m2)",[20]
20,R City,Mumbai,2009,"657,000 sq ft (61,000 m2)",[21]
21,South City Mall,Kolkata,2008,"650,000 sq ft (60,000 m2)",NaN
22,High Street Phoenix,Mumbai,2008,"650,000 sq ft (60,000 m2)",NaN
23,The Forum Vijaya,Chennai,2013,"636,000 sq ft (59,100 m2)",[22][23]
24,Bhawani Mall,Bhubaneswar,2012,"600,000 sq ft (56,000 m2)",[24]
25,Centre Square Kochi,Kochi,2013,"630,000 sq ft (59,000 m2)",[25]
26,VR Bengaluru,Bangalore,2015,"600,000 sq ft (56,000 m2)",[26]
27,Gold Souk Grande,Chennai,2014,"600,000 sq ft (56,000 m2)",[27][28]
28,P&M Hi-Tech City Centre Mall,Jamshedpur,2017,"550,000 sq ft (51,000 m2)",[29][30]
29,Inorbit Mall,Pune,2011,"547,000 sq ft (50,800 m2)",[31]
30,AlphaOne Mall,Amritsar,NaN,"540,755 sq ft (50,237.8 m2)",[1]
31,"City Centre, Mangalore",Mangalore,2011,"540,000 sq ft (50,000 m2)",[32]
32,Inorbit Mall,Mumbai,2008,"545,000 sq ft (50,600 m2)",[33]
33,Spencer Plaza,Chennai,1863–64,"530,000 sq ft (49,000 m2)",[34]
34,Gold Souk Grande,Kochi,2011,"500,000 sq ft (46,000 m2)",NaN
35,The Grand Venice Mall,Greater Noida,2016,"947,000 sq ft (88,000 m2)",NaN

In [19]:
print('The number of the most famous shopping centers where Christos shoes can be transpored in India are {}'.format(len(df1)))

The number of the most famous shopping centers where Christos shoes can be transpored in India are 36

We can group these centers by their locations as follows:

In [6]:
df1 = df1.groupby(['Location'])['Name'].apply(', '.join).reset_index()
df1

         Location                                               Name
0       Ahmedabad                                      Ahmedabad One
1        Amritsar                                      AlphaOne Mall
2      Aurangabad                                       Prozone Mall
3       Bangalore  Phoenix Marketcity (Bangalore), Mantri Square,...
4          Bhopal                                       DB City Mall
5     Bhubaneswar                        Esplanade One, Bhawani Mall
6      Chandigarh                                        Elante Mall
7         Chennai  Phoenix Marketcity (Chennai), Express Avenue, ...
8   Greater Noida                              The Grand Venice Mall
9          Jaipur                           World Trade Park, Jaipur
10     Jamshedpur                       P&M Hi-Tech City Centre Mall
11          Kochi  LuLu International Shopping Mall, Centre Squar...
12        Kolkata                                    South City Mall
13      Kozhikode                                        Hilite Mall
14        Lucknow                                       Fun Republic
15      Mangalore            Forum Fiza Mall, City Centre, Mangalore
16         Mumbai  Infiniti Mall, R City, High Street Phoenix, In...
17          Noida           DLF Mall of India, The Great India Place
18           Pune                                       Inorbit Mall
19          Thane                                       Viviana Mall
20     Trivandrum                                 Mall of Travancore

In [7]:
print('The number of the most famous shopping center group by Location in India are: {}'.format(len(df1)))

The number of the most famous shopping center group by Location in India are: 21

## Methodology

We formulate an equation to minimize Christos's costs. 
We use C_ij to denote the cost to ship from production facility - i to the destination facility - j. We use X_ij to denote the amount to ship from production facility - i to the customer facility - j. We can write the equation as follows:

            ans = Minimize(Sigma(i=1 to 5).Sigma(j=1 to 5))
            
where, 

              Sigma- is the summation notation used in statistics
              i- cost to ship from production facility
              j- cost to ship to destination facility
              5- number of cities where DCs will be opened

## Results

On statistical calculations, it was discovered that it is beneficial to open DC1, DC2 and DC3 only which have overall less cost and overall maximum profits as comapred to DC4 and DC5.

## Conclusion

Christos decided to open 5 distribution centers in different states of Inida, namely- Pune, Hyderabad, Jammu, Kerela and Sikkim. All are located at different parts of the country and I calculated some paramters to decide whether his decision is correct or not.

It is beneficial to open DC1, DC2 and DC3 only which have overall less cost and overall maximum profits as comapred to DC4 and DC5.